[submodule "plugins/apostrophePlugin"]
	path = plugins/apostrophePlugin
	url = git://github.com/annismckenzie/apostrophePlugin.git
[submodule "plugins/apostropheBlogPlugin"]
	path = plugins/apostropheBlogPlugin
	url = git://github.com/annismckenzie/apostropheBlogPlugin.git
[submodule "plugins/apostropheFeedbackPlugin"]
	path = plugins/apostropheFeedbackPlugin
	url = git://github.com/annismckenzie/apostropheFeedbackPlugin.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = git://github.com/JoshuaEstes/sfDoctrineGuardPlugin.git
[submodule "plugins/sfDoctrineActAsTaggablePlugin"]
	path = plugins/sfDoctrineActAsTaggablePlugin
	url = git://github.com/annismckenzie/sfDoctrineActAsTaggablePlugin.git
[submodule "plugins/sfSyncContentPlugin"]
	path = plugins/sfSyncContentPlugin
	url = git://github.com/annismckenzie/sfSyncContentPlugin.git
[submodule "plugins/sfTaskExtraPlugin"]
	path = plugins/sfTaskExtraPlugin
	url = git://github.com/JoshuaEstes/sfTaskExtraPlugin.git
[submodule "plugins/sfFeed2Plugin"]
	path = plugins/sfFeed2Plugin
	url = git://github.com/annismckenzie/sfFeed2Plugin.git
[submodule "plugins/sfWebBrowserPlugin"]
	path = plugins/sfWebBrowserPlugin
	url = git://github.com/annismckenzie/sfWebBrowserPlugin.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/symfony/symfony1.git
[submodule "lib/vendor/zend"]
	path = lib/vendor/zend
	url = git://github.com/JoshuaEstes/Zend.git
